body {
  font-family: "Raleway", sans-serif;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0.65)), color-stop(100%, rgba(255, 255, 255, 0.65))), url(/img/white_wall.png) repeat 0 0;
}

header {
  /*width: 100%;*/
  /*height: 100px;*/
  /*position: relative;*/
  padding-bottom: 10px;
  color: white;
  background-color: black;
  -moz-box-shadow: 0 5px 10px #999;
  -webkit-box-shadow: 0 5px 10px #999;
  box-shadow: 0 5px 10px #999;
  -moz-box-shadow: 0 7px 20px 0 rgba(50, 50, 50, 0.36);
  -webkit-box-shadow: 0 7px 20px 0 rgba(50, 50, 50, 0.36);
  box-shadow: 0 7px 20px 0 rgba(50, 50, 50, 0.36);
  overflow: hidden;
  z-index: 1;
}

header span {
  font-weight: 300;
  color: #29AAE1;
}

header h2 {
  font-size: 55px;
}

@media (min-width: 1200px) {


  header h2 a{
    margin-left: 20px;
  }
  header nav {
    margin-top: 40px;
  }

  aside ul li{
    margin-left: 30px;
  }

  #portfolio li .imageThumb {
    height: 240px;
  }
}

header strong {
  font-weight: 700;
  color: white;
}
ul{
  list-style: none;
}

header ul {
  margin: 0 0 0 40px;
  padding: 0;
}

header ul li {
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  width: 100px;
  padding-bottom: 5px;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a:hover{
  text-decoration: none;
}

header ul .active {
  color: #29AAE1;
  font-weight: 700;
}

header ul li:active{
  color: #29AAE1;
}

header ul li a:hover {
  color: #29AAE1;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}


/* ===================INDEX PAGE*/

#index{
  background-color: black;
}

#index span {
  font-weight: 300;
}

#index strong {
  font-weight: 700;
}

#index h2 {
  font-size: 14vw;
}

#index #slideshow {
  position: relative;
  width: 100%;
  height: 89vh;
  overflow: hidden;
}

#index #slideshow > div {
  position: absolute;
  top: 0;
  left: 0;
}

#index .name {
  color: rgba(255, 255, 255, 0.6);
  z-index: 9999;
  position: fixed;
  text-align: center;
  top: 120px;
  width: 100%;
}

#index .name p {
  font-size: 30px;
  margin: 0;
  position: relative;
  top: -30px;
}

#index #slideshow img {
  width: 100vw;
  height: auto;
  margin: 0;
}

.icelandBlackSand, .butterfly{
  margin-top: -150px;
}



/*============================= ABOUT -- */
#about {
  position: relative;
  top: 10vh;
}

#myPicture {
  width: 220px;
  height: 220px;
  -moz-border-radius: 150px;
  -webkit-border-radius: 150px;
  border-radius: 150px;
  border: 2px solid #999;
  background: url(/img/areillyWork.jpg) no-repeat;
  background-position: center top;
  margin-bottom: 50px;
  -moz-box-shadow: 0 5px 10px #999;
  -webkit-box-shadow: 0 5px 10px #999;
  box-shadow: 0 5px 10px #999;
  -moz-box-shadow: 0 7px 20px 0 rgba(50, 50, 50, 0.36);
  -webkit-box-shadow: 0 7px 20px 0 rgba(50, 50, 50, 0.36);
  box-shadow: 0 7px 20px 0 rgba(50, 50, 50, 0.36);
}

#about p {
  font-family: helvetica, arial, sans-serif;
  width: 50%;
  text-align: justify;
  margin-bottom: 40px;
}

/*============================= CONTACT -- */
#contact {
  position: relative;
  top: 20vh;
  color: rgba(41, 170, 225, 1);
}

#contact h1 {
  font-weight: 500;
  font-size: 100px;
  text-transform: uppercase;
  text-shadow: 0 1px 1px #888;
  margin: 0;
}

#contact ul {
  list-style: none;
  padding: 0;
}

#contact ul li {
  display: inline-block;
  margin: 0 45px;
  text-shadow: 1px 1px 2px rgba(225, 230, 234, 0.7), 0 0 0 rgba(0, 0, 0, 0.7), -1px -2px 4px rgba(225, 230, 234, 0.7);
  color: rgba(121, 142, 152, 0.7);
}

#contact ul li:hover {
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  color: rgba(41, 170, 225, 0.7);
}

#contact .emailForm h3 {
  color: white;
}

#contact .emailForm {
  width: 30%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.8);
  border: 2px dotted #29AAE1;
  display: none;
  position: relative;
  top: -40vh;
  color: black;
}

#contact .emailForm #closeForm {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 5px;
  color: white;
}

#contact .emailForm form {
  padding: 20px
}

#contact .emailForm input, textarea {
  margin: 5px 0;
  width: 90%
}


/* ASIDE NAV */
aside ul {
  margin-top: 20px;
  display: block;
  margin-left: 0;
  padding-left: 0;
}
aside ul li:first-child{
  border-top: 1px dashed #29AAE1;

}
aside ul li {
  padding: 20px 0 20px 0px;
  border-bottom: 1px dashed #29AAE1;
  display: block;
  text-align: center;
}

aside ul li a {
  color: #0f0f0f;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 25px;
}

/*================ PORTFOLIO ==*/

#portfolio .main {
  height: 85vh;
  overflow: scroll;
  margin: 0;
}

#portfolio .main ul{
  padding-left: 5px;
  margin-top: 30px;
}

#portfolio .main li {
  display: inline-block;
  padding: 2px;
}

#portfolio li .imageThumb {
  overflow: hidden;
  cursor: pointer;
  display: block;
}

#portfolio li .imageThumb img {
  width: 400px;
  height: auto;
  position: relative;
  right: 35%;
}

#portfolio .imageContainer {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
}

#portfolio #singleImage {
  margin: 2% 0;
  height: 95vh;
  cursor: pointer;
}

/* ================ IMAGE ==*/
.image_page {
  padding-top: 40px;
  background-color: rgba(0,0,0,0.8);
  font-family: helvetica, sans-serif;
}

#image .content{
  padding: 0 20px;
  margin-bottom: 20px;
  color: white;
}

#image .content h2{
  color: white;
  font-size: 22px;
  border-bottom: 1px solid #29AAE1;
  text-align: center;
}
#image b{
  color: #29AAE1;
  text-transform: uppercase;
}

#image .content .back{
  font-size: 12px;
  border-bottom: 1px solid white;
}

#image .content .url{
  font-size: 10px;
}

#image img{
  width: 100%;
}

#image p{
  font-weight: lighter;
}

#image a{
  font-size: 12px;
  text-decoration: none;
}

#image a:hover, #image .back:hover{
  color: #29AAE1;
}

#image input[type='submit']{
  background-color: transparent;
  text-decoration: none;
  border: none;
  color: white;
  padding: 0;
  cursor: pointer;
}

#image aside{
  width: 18%;
  float: left;
}

/*  SECTIONS  */
.section {
  clear: both;
  padding: 0;
  margin: 0
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float: left;
  margin: 1% 0 1% 1%
}

.col:first-child {
  margin-left: 0
}

/*  GROUPING  */
.group:before, .group:after {
  content: "";
  display: table
}

.group:after {
  clear: both
}

.group {
  zoom: 1;
  /* For IE 6/7 */
}

/*  GRID OF ELEVEN   ============================================================================= */
.span_11_of_11 {
  width: 100%
}

.span_10_of_11 {
  width: 90.76%
}

.span_9_of_11 {
  width: 81.52%
}

.span_8_of_11 {
  width: 72.29%
}

.span_7_of_11 {
  width: 63.05%
}

.span_6_of_11 {
  width: 53.81%
}

.span_5_of_11 {
  width: 44.58%
}

.span_4_of_11 {
  width: 35.34%
}

.span_3_of_11 {
  width: 26.1%
}

.span_2_of_11 {
  width: 16.87%
}

.span_1_of_11 {
  width: 7.63%
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */
@media only screen and (max-width: 480px) {
  .span_11_of_11 {
    width: 100%
  }
  .span_10_of_11 {
    width: 100%
  }
  .span_9_of_11 {
    width: 100%
  }
  .span_8_of_11 {
    width: 100%
  }
  .span_7_of_11 {
    width: 100%
  }
  .span_6_of_11 {
    width: 100%
  }
  .span_5_of_11 {
    width: 100%
  }
  .span_4_of_11 {
    width: 100%
  }
  .span_3_of_11 {
    width: 100%
  }
  .span_2_of_11 {
    width: 100%
  }
  .span_1_of_11 {
    width: 100%
  }

  header{
  }
  header h2{
    margin: 10px 0;
    width: 100%;
    text-align: center;
    float: none;
  }
  header nav {
    position: relative;
    right: 0;
    top: 0;
  }

  nav ul li{
    display: inline-block;
    float: none;
    margin: 10px 0 10px 2px;
  }
  #index .name{
    display: none;
  }
  #index #slideshow{
    position: relative;
  }

  #index #slideshow img {
    height: 100vh;
    width: auto;
    margin: 0;
    position: absolute;
    left: -250px;
  }

  .icelandBlackSand, .butterfly{
    margin-top: 0px;
  }
  .icelandBlackSand{
    margin-left: -150px;
  }

  #about p{
    text-align: left;
    width: 94%;
    margin-bottom: 40px;
  }
  aside ul li:first-child{
    border-top: none;
  }
  aside ul li{
    border: none;
  }
  aside ul li a{
    font-size: 18px;
  }
  #portfolio .main ul{
    padding-left: 5px;
    margin-top: 20px;
  }
  #portfolio .main ul li .imageThumb{
    width: 150px;
    height: 150px;
  }

  #portfolio .main ul li .imageThumb img{
    width: 275px;
    height: auto;
    right: 42%;
  }

  #portfolio .imageContainer {
    height: 100%;
  }

  #portfolio #singleImage {
    margin-top:30%;
    width: 95vw;
    height: auto;
  }

}


@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
  header nav{
    right: 20px;
  }
  header nav ul li{
    margin: 0 10px;
  }
  #index #slideshow{
    position: relative;
  }
  aside ul li a{
    font-size: 20px;
  }
  #index #slideshow img {
    height: 100vh;
    width: auto;
    margin: 0;
    position: absolute;
    margin-top: 0px;
    margin-left: -400px;
  }
  .icelandBlackSand, .butterfly{
    margin-top: 0px;
  }
  #index .name{
    top: 285px;
  }
  #index .name p{
    top: -100px;
  }
  #portfolio .main ul{
    padding-left: 80px;
  }
  #portfolio .main{
    height: 100vh;
  }
  #portfolio #singleImage{
    width: 95vw;
    height: auto;
    margin-top: 25vh;
  }
  #image img{
    width: 100vw;
    height: auto;
  }
  #contact ul{
    margin-top: 100px;
  }
}

footer {
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  color: white;
  text-align: center
}


/*wedding*/

.my-map {
  margin: 0 auto;
}
#my-map-canvas .map-generator {
  max-width: 100%;
  max-height: 100%;
  background: none;
}

.invitation {
  height: 100vh;
}

.wedding_site {
  /*font-family: Helvetica, sans-serif;*/
  font-weight: 400;
}

#turtle {
  text-align: center;
  margin: 20px auto;
}
.wedding_site .main-image img {
  width: 100%;
  height: auto;
}

.wedding_site .header {
  background-color: rgba(250,250,250,1);
  padding: 15px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.17);
  text-align: center;
}

.wedding_site h1 {
  font-family: 'Alex Brush', cursive;
  font-size: 60px;
  text-align: center;
  margin-bottom: 15px;
}

.wedding_site h1 .small {
  font-size: 40px;
}

.wedding_site h2{
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  color: #9ed1d5;
  font-size: 35px;
  margin-bottom: 20px;
}

.wedding_site h5 {
  font-weight: bold;
}

#registry a {
  border-bottom: none;
}

.wedding_site .text-group {
  margin: 40px 0 40px 0;
}

.wedding_site .nav-pills, .wedding_site .mini-nav  {
  font-family: 'Open Sans Condensed', sans-serif;
  text-transform: uppercase;
  font-size: 20px;
  margin-bottom: 20px;
}
.wedding_site .nav-pills > li.active > a, .wedding_site .nav-pills > li.active > a:focus, .wedding_site .nav-pills > li.active > a:hover {
  background-color: transparent;
  color: #9ed1d5;
  outline: none;
}

.wedding_site .tab-content {
  margin-bottom: 30px;
}
.wedding_site .tab-content a{
  font-weight: 700;
  border-bottom: 1px solid #9ed1d5;
}
.wedding_site a:hover{
  color: #9ed1d5;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.wedding_site .nav>li>a:focus, .wedding_site .nav>li>a:hover {
  color: #9ed1d5;
  background-color: transparent;
}

.wedding_site .mini-nav a {
  /*color: #FFBFBC;*/
  color: #FF9E99;
  border-bottom: none;
  font-size: 14px;
  font-weight: normal;
}
.wedding_site .mini-nav a:hover {
  color: #FFDE99;
}

.wedding_site .tab-content {
  text-align: center;
}

.wedding_site .included-activities {
  text-align: left;
}
.wedding_site .included-activities li {
  list-style-type: disc;

}

.wedding_site .glyphicon {
  color: #FFBFBC;
  text-align: center;
  margin: 10px 0 20px 0;
}

#flights li {
  text-align: left;
  list-style-type: disc;
}

#flights #tips {
  text-align: left;
margin: 20px 0;
}

#rsvp-form {
  text-align: left;
}

#rsvp-form .checkbox-inline+.checkbox-inline, .radio-inline+.radio-inline {
  margin-left: 60px;
}

#radios-group {
  margin:30px -15px;
}

.guest, .guest hr {
  margin-top: 50px;
}

.wedding_site .form-control:focus {
  border-color: #FFBFBC;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,191,188,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,191,188,.6);
}
