<script>
  $(".about").addClass('active')
</script>
<div id="about" class="span_11_of_11">
<center>
<figure id="myPicture"></figure>
<p>I am a tenacious and driven individual who utilizes obstacles as a source of motivation.

I enjoy a challenge and the reward of solving it. My keen eye for detail helps me find a bug in a timely manner as well as solve the problem in the most efficient way possible. I'm a good team player who excels in a problem solving environment. I am a life-long learner with a fierce desire to succeed and a willingness take on anything that is put in front of me.
<br><br>
I am a full stack web developer, graphic designer, photographer, & bartender. I love traveling and have traveled to Iceland, Netherlands, Italy, Czech Republic, Switzerland, Ireland, United Kingdom, Spain, Ecuador, Mexico, the Carribean, and many cities within the United States.</p>
</center>
</div>
