<center id="contact">
<h1>contact me</h1>
<ul>
  <li><a href=""><i class="fa fa-envelope fa-4x"></i></a></li>
  <li><a href="https://www.linkedin.com/in/allisoncreilly"><i class="fa fa-linkedin-square fa-4x"></i></a></li>
  <li><a href=""><i class="fa fa-facebook-square fa-4x"></i></a></li>
  <li><a href="https://github.com/acreilly"><i class="fa fa-github-square fa-4x"></i></a></li>
</ul>
</center>