<div id="image">
  <% if @image.title != nil %>
  <aside>
    <div class="content">
      <% if @image.title != nil %>
      <h3><%= @image.title %></h3>
      <% end %>
      <br>
      <% if @image.description != nil %>
      <p><b>Description:</b> <%= @image.description %></p>
      <% end %>
      <% if @image.link != nil %>
      <p><b>Url:</b> <%= @image.link %></p>
      <% end %>
    </div>
  </aside>
  <% end %>
  <center>
    <img src="/img/<%= @image.filename %>" alt="">
  </center>
</div>