<center>
  <div id="index">


    <div class="name"><h2><span>allison</span><strong>reilly</strong></h2>
      <p>web developer & graphic designer</p>
    </div>
    <div id="slideshow">
      <div><img src="/img/img33.png" alt=""></div>
      <div style="margin-top: -150px;"><img src="/img/img26.png" alt=""></div>
      <div style="margin-top: -150px;"><img src="/img/img39.png" alt=""></div>
      <div><img src="/img/img22.png" alt=""></div>
      <div><img src="/img/img31.png" alt=""></div>

    </div>
  </div>
</center>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54845119-1', 'auto');
  ga('send', 'pageview');

</script>