<center>
  <div id="index">
    <div class="name"><h2><span>allison</span><strong>reilly</strong></h2>
      <p>web developer & graphic designer</p>
    </div>
    <div id="slideshow">
      <div class="icelandMountains"><img src="/img/img33.png" alt=""></div>
      <div class="icelandBlackSand"><img src="/img/img26.png" alt=""></div>
      <div class="butterfly"><img src="/img/img39.png" alt=""></div>
      <div class="florenceView"><img src="/img/img22.png" alt=""></div>
      <div class="icelandVolcano"><img src="/img/img31.png" alt=""></div>

    </div>
  </div>
</center>
