<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Raleway:400,500,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/css/application.css">
  <link rel="stylesheet" href="/css/normalize.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <title>Allison Reilly</title>
</head>
<body>
  <header class="section group">
    <h2><a href="/" class="col span_3_of_11 name"><span>allison</span><strong>reilly</strong></a></h2>
    <div class="col span_4_of_11"></div>
    <ul>
      <div class="col span_4_of_11 nav">
        <li><a href="/about">about</a></li>
        <li><a href="/portfolio">portfolio</a></li>
        <li><a href="/contact">contact</a></li>
      </div>
    </ul>
  </header>
  <div class="body_container section group">
  <%= yield %>
  </div>
</body>
</html>