<div class="col-lg-offset-2 col-lg-8">
  <div class="row">

    <div class="col-lg-12">
      <div id="turtle">
        <img src="img/turtle.png" alt="">
      </div>
    </div>
    <div class="col-lg-12">
      <ul class="nav nav-pills nav-justified" role='navigation'>
        <li role="presentation" class='active'><a href="#wedding" aria-controls="wedding" role="tab" data-toggle="tab">Our Wedding</a></li>
        <li role="presentation"><a href="#reception" aria-controls="reception" role="tab" data-toggle="tab">Reception</a></li>
        <li role="presentation"><a href="#rsvp" aria-controls="rsvp" role="tab" data-toggle="tab">RSVP</a></li>
        <li role="presentation"><a href="#registry" aria-controls="registry" role="tab" data-toggle="tab">Registry</a></li>
      </ul>
    </div>
    <div class="col-lg-12 header">
      <div class="main-image">
        <img src="img/mattandiblue.png" alt="">
      </div>

      <h1>
        Allison
        <span class="small">&</span>
        Mathias
      </h1>
    </div>

    <div class="col-lg-offset-1 col-lg-10">
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="wedding">
          <div class="row mini-nav">
            <div class="col-lg-3 hidden-xs"><a href="#wedding">Wedding</a></div>
            <div class="col-lg-3 hidden-xs"><a href="#flights">Flights</a></div>
            <div class="col-lg-3 hidden-xs"><a href="#hotels">Hotels</a></div>
            <div class="col-lg-3 hidden-xs"><a href="#transport">Transport</a></div>
          </div>
          <hr>
          <div class="text-group" id='wedding'>
            <h2>Wedding</h2>
            <h5>
              Friday, July 8th, 2016
              <br>
              @ Dreams Las Mareas, Costa Rica
            </h5>
            <p>
              Our wedding ceremony & reception will take place at the beautiful Dreams Las Mareas Resort in Costa Rica. We will also have a small reception in NJ for those who cannot make the trip. For more information, <a href="#reception" aria-controls="reception" role="tab" data-toggle="tab">click here.</a>
              <br>
              The ceremony will take place at 3 O'Clock, cocktail and reception will shortly follow. Join us and help celebrate our big day!
            </p>
          </div>
          <hr>
          <div class="text-group" id='flights'>
            <h2>Flights</h2>
            <h5>Liberia, Costa Rica (LIR)</h5>
            <p>
              Flights from EWR or JFK can range from $300 - $450 round trip. I would suggest searching on <a href="http://www.skyscanner.com" target="_blank">Skyscanner</a> or <a href="http://www.momondo.com" target="_blank">Momondo</a>.
            </p>

              <div id="tips" class='row'>
                <ul class='col-lg-6 col-lg-offset-3 col-xs-12'>
                <h5>Tips on getting a good price...</h5>
                  <li>Set up price alerts.</li>
                  <li>Book your flight between 4 months and 6 weeks before.</li>
                  <li>Best day & time to shop is Tuesday around 3pm. This is when airlines release the most sales.</li>
                  <li>Depart on a Tuesday or Wednesday.</li>
                </ul>
              </div>
              <p>For more details, take a look <a href="http://www.farecompare.com/travel-advice/tips-from-air-travel-insiders/#/" target='_blank'>here</a> and <a href="http://thriftynomads.com/booking-cheapest-flight-possible-anywhere/" target='_blank'>here</a>.</p>
          </div>
          <hr>
          <div class="text-group" id='#hotels'>
            <h2>Hotels</h2>
            <p>
              The <a href="http://www.dreamsresorts.com/las-mareas" target="_blank">Dreams Las Mareas Resort</a> is located near El Jobo, Costa Rica.The per night rate ranges from $250 and up. All rooms are all inclusive!
            </p>
            <h5>Included as part of your stay at Dream Las Mareas...</h5>
            <div class="row">
              <div class="col-lg-6 col-xs-12">
                <ul class="included-activities">
                  <li>Kayaking</li>
                  <li>Euro-bungee</li>
                  <li>Yoga</li>
                  <li>Unlimited Top-Shelf Spirits</li>
                  <li>Introductory scuba lesson in the pool</li>
                </ul>
              </div>
              <div class="col-lg-6 col-xs-12">
                <ul class="included-activities">
                  <li>Dance lessons</li>
                  <li>Spanish lessons</li>
                  <li>Cooking classes</li>
                  <li>Snorkeling</li>
                  <li>Non-motorized water sports</li>
                </ul>
              </div>
            </div>
            <h5>...and more! Visit their website <a href="http://www.dreamsresorts.com/las-mareas" target="_blank">here</a>.</h5>
            <p>
              If you would like to stay at another hotel, look around El Jobo and La Cruz area, also check out airbnb!
            </p>
          </div>
          <hr>
          <div class="text-group row" id='transport'>
            <h2>Transport</h2>
            <div class="col-lg-4 col-xs-12">
              <h5>Car Rental</h5>
              <p>Rental car prices start around $10 a day. To rent a car, take a look on Orbitz, Expedia, or Holiday Autos.</p>
            </div>
            <div class="col-lg-4 col-xs-12">
              <h5>Shuttle</h5>
              <p>Dreams Las Mareas offers a round trip shared shuttle from the airport to the resort for $260 for two people.</p>
            </div>
            <div class="col-lg-4 col-xs-12">
              <h5>Public Transport</h5>
              <p>Buses in Costa Rica are very cheap! Take the bus to La Cruz, then take a taxi to the resort. <a href="http://www.liberiacostaricainfo.com/liberia-costa-rica-public-bus-schedule.html" target='_blank'>Liberia Bus Schedule</a></p>
            </div>
          </div>
          <hr>
        </div>

        <!-- RSVP -->
        <div role="tabpanel" class="tab-pane" id="rsvp">
          <h2>RSVP</h2>

          <form action="/mathiasaschulien/rsvp" method="post" id="rsvp-form">
            <div class="row">
              <div class="form-group col-lg-6 col-xs-12">
                <label for="wedding_party[email]">Email</label>
                <input type='email' name="wedding_party[email]" class="form-control" required>
              </div>

              <div class="form-group col-lg-6 col-xs-12">
                <label for="party_count">Total guests in your party</label>
                <select id="party_count" class='form-control' required>
                  <option value="" disabled selected>-</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                </select>
              </div>
            </div>

            <hr>

            <div id="guests" class='hidden'>
              <div class="guest" id='guest_0'>

                <div class="row">
                  <div class="form-group col-lg-6 col-xs-12">
                    <input name="wedding_guests[0][firstname]" class="form-control" placeholder="First Name" required>
                  </div>

                  <div class="form-group col-lg-6 col-xs-12">
                    <input name="wedding_guests[0][lastname]" class="form-control" placeholder="Last Name" required>
                  </div>
                </div>

                <div class="form-group row" id='radios-group'>
                  <div class="col-lg-6 col-xs-12">
                    <label for="wedding_guests[0][ceremony]">Are you able to attend the ceremony?</label>
                  </div>
                  <div class="col-lg-6 col-xs-12">
                    <label class="radio-inline">
                      <input type="radio" name="wedding_guests[0][ceremony]" value="true"> Yes!
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="wedding_guests[0][ceremony]" value="false"> Regretfully decline.
                    </label>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-lg-6 col-xs-12">

                    <label for="wedding_guests[0][reception]">Are you able to attend the NJ Reception?</label>
                  </div>
                  <div class="col-lg-6 col-xs-12">
                    <label class="radio-inline">
                      <input type="radio" name="wedding_guests[0][reception]" value="true"> Yes!
                    </label>
                    <label class="radio-inline">
                      <input type="radio" name="wedding_guests[0][reception]" value="false"> Regretfully decline.
                    </label>
                  </div>
                </div>
                <hr>
              </div>
            </div>
            <center>
              <button type="submit" class="hidden btn btn-default" id='rsvp-submit'>Submit</button>
            </center>
          </form>
        </div>
        <div role="tabpanel" class="tab-pane" id="reception">
          TBD
        </div>
        <div role="tabpanel" class="tab-pane" id="registry">
          TBD
        </div>
      </div>
      <center>
        <span class="glyphicon glyphicon-heart"></span>
      </center>
    </div>
  </div>
</div>
