<ul class='row'>
  <% @photography.each do |image| %>
  <li class='col-lg-3 col-xs-6'>
    <figure class="imageThumb">
      <img src="/img/thumb/<%= image.filename %>" alt="<%= image.id %>"/>
    </figure>
  </li>
  <% end %>
</ul>