<script>
  $(".portfolio").addClass('active')
</script>
<div id="portfolio">
  <aside class="col-lg-3 col-xs-12 col-sm-12">
    <ul>
      <li><a id="all" href="/portfolio" style="color: #29AAE1;">all</a></li>
      <li><a id="dev" href="/portfolio/dev">Web Development</a></li>
      <li><a id="design">Design</a></li>
      <li><a id="photography">Photography</a></li>
    </ul>
  </aside>
  <div class="col-lg-9 main">
<ul class='row'>
  <% @images.each do |image| %>
  <li class='col-lg-3 col-xs-6'>
    <figure class="imageThumb">
      <img src="/img/thumb/<%= image.filename %>" alt="<%= image.id %>"/>
    </figure>
  </li>
  <% end %>
</ul>
  </div>
  <div class="imageContainer">
    <figure class="fullImage">
      <center>
        <img src="" alt="" id="singleImage" />
      </center>
    </figure>
  </div>
</div>
<form action="/download" method='post'>
  <button type='submit'>doit</button>
</form>