<div id="portfolio">
  <aside class="col span_3_of_11">
    <ul>
      <li><a id="all" href="/portfolio" style="color: #29AAE1;">all</a></li>
      <li><a id="dev" href="/portfolio/dev">Web Development</a></li>
      <li><a id="design">Design</a></li>
      <li><a id="photography">Photography</a></li>
    </ul>
  </aside>
  <div class="col span_8_of_11 main">
<ul>
  <% @images.each do |image| %>
  <li>
    <figure class="imageThumb">
      <img src="/img/<%= image.filename %>" alt="<%= image.filename %>"/>
    </figure>
  </li>
  <% end %>
</ul>
  </div>
  <div class="imageContainer">
    <figure class="fullImage">
      <center>
        <img src="" alt="" id="singleImage" />
      </center>
    </figure>
  </div>
</div>